footer {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.keyboard-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.keyboard-long-block {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  font-weight: bold;
  color: white;
  width: 90px;
  height: 80px;
}

.keyboard-block {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  font-weight: bold;
  color: white;
  width: 60px;
  height: 80px;
}
